
*.dll
*.pdb
edtechish/.idea/.idea.edtechish/.idea/aws.xml
.idea/.idea.edtechish-microservice.dir/.idea/vcs.xml
.idea/.idea.edtechish-microservice.dir/.idea/indexLayout.xml
.idea/.idea.edtechish-microservice.dir/.idea/aws.xml
edtechish/.idea/.idea.edtechish/.idea/indexLayout.xml
edtechish/.idea/.idea.edtechish/.idea/vcs.xml
*.pb
edtechish/edtechish.domain/obj/
edtechish/edtechish.domain/bin/
edtechish/src/edtechish.domain/obj/
edtechish/src/edtechish.domain/bin/
edtechish/src/edtechish.infrastructure/obj/
edtechish/src/edtechish.infrastructure/bin/
*.pdb
*.dll
edtechish/src/edtechish.infrastructure/obj/