
*.dll
*.pdb
*/bin
edtechish/.idea/.idea.edtechish/.idea/aws.xml
.idea/.idea.edtechish-microservice.dir/.idea/vcs.xml
.idea/.idea.edtechish-microservice.dir/.idea/indexLayout.xml
.idea/.idea.edtechish-microservice.dir/.idea/aws.xml
edtechish/.idea/.idea.edtechish/.idea/indexLayout.xml
edtechish/.idea/.idea.edtechish/.idea/vcs.xml
*.pb
edtechish/edtechish.domain/obj/rider.project.restore.info
edtechish/edtechish.domain/obj/project.packagespec.json
edtechish/edtechish.domain/obj/project.nuget.cache
edtechish/edtechish.domain/obj/project.assets.json
edtechish/edtechish.domain/obj/edtechish.domain.csproj.nuget.g.targets
edtechish/edtechish.domain/obj/edtechish.domain.csproj.nuget.g.props
edtechish/edtechish.domain/obj/edtechish.domain.csproj.nuget.dgspec.json
edtechish/edtechish.domain/obj/Debug/net6.0/refint/edtechish.domain.dll
edtechish/edtechish.domain/obj/Debug/net6.0/ref/edtechish.domain.dll
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.pdb
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.GlobalUsings.g.cs
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.genruntimeconfig.cache
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.GeneratedMSBuildEditorConfig.editorconfig
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.dll
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.csproj.FileListAbsolute.txt
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.csproj.CoreCompileInputs.cache
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.csproj.CopyComplete
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.csproj.AssemblyReference.cache
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.assets.cache
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.AssemblyInfoInputs.cache
edtechish/edtechish.domain/obj/Debug/net6.0/edtechish.domain.AssemblyInfo.cs
edtechish/edtechish.domain/obj/Debug/net6.0/apphost
edtechish/edtechish.domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
edtechish/edtechish.domain/edtechish.domain.csproj
edtechish/edtechish.domain/bin/Debug/net6.0/MediatR.dll
*.pdb
*.dll
edtechish/edtechish.domain/bin/Debug/net6.0/edtechish.domain
edtechish/edtechish.domain/bin/Debug/net6.0/edtechish.domain.deps.json
edtechish/edtechish.domain/bin/Debug/net6.0/edtechish.domain.dll
edtechish/edtechish.domain/bin/Debug/net6.0/edtechish.domain.pdb
edtechish/edtechish.domain/bin/Debug/net6.0/edtechish.domain.runtimeconfig.json
edtechish/edtechish.domain/obj/edtechish.domain.csproj.nuget.g.targets
edtechish/edtechish.domain/bin/Debug/net6.0/edtechish.domain
